/*Added my own photo as backgrounds on index and contact files*/

/* .backgroundPhoto {
  background-image: url("/public/Assets/Images/tree_picture.png");
} */

/*Vertical photo for profile page*/
.otherBackground {
  /* background-color: purple; */
  background-image: url("../Images/tree_picture2.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*Move Navbar links to the right of the page.*/
.linksRight {
  justify-content: flex-end;
}

.padText {
  padding: 25px;
}

.card {
  background-color: rgba(245, 245, 245, 0.5);
}

p,
h5 {
  font-weight: bold;
  color: rgb(7, 41, 7);
}

.btn {
  background-color: rgb(7, 41, 7);
}
